<header class="hero">
  <!-- nav -->
  <nav class="nav">
    <div class="container nav-container">
      <a><img src="../../assets/logo.svg" alt="" /></a>
      <div class="icon-group">
        <button aria-label="open cart button" class="btn">
          <img src="../../assets/store-fill.svg" alt="" aria-hidden="true" />
        </button>
        <button aria-label="open cart button" class="btn menu">
          <img
            src="../../assets/hamburger-menu.svg"
            alt=""
            aria-hidden="true"
          />
        </button>
      </div>
    </div>
  </nav>

  <!-- main heading -->
  <div class="hero__content">
    <h1 class="hero__heading">Make Your Interior More Minimaistic & Modern</h1>
    <p class="hero__subline">
      Bringing interiors to life, understanding the person or people living in a
      home is far greater need in design.
    </p>
    <div class="input-container">
      <input
        placeholder="Search Furniture"
        class="hero__search"
        id="hero-search"
      />
    </div>
  </div>

  <!-- slider -->
  <div class="slider"></div>
</header>
