<footer class="footer">
  <div class="container">
    <img src="../../assets/logo.svg" alt="logo" />
    <nav class="nav">
      <div class="nav-group">
        <h2>Features</h2>
        <ul class="group">
          <li><a href="#">our features</a></li>
          <li><a href="#">pricing</a></li>
          <li><a href="#">Affiliate Program</a></li>
          <li><a href="#">press kit</a></li>
        </ul>
      </div>

      <div class="nav-group">
        <h2>Support</h2>
        <ul class="group">
          <li><a href="#">Account</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>

      <div class="nav-group">
        <h2>Legal</h2>
        <ul class="group">
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">terms of use</a></li>
        </ul>
      </div>

      <div class="nav-group">
        <h2>Social Media</h2>
        <ul class="group">
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Product Hunt</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Github</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <p class="copyright">Copyright 2021 ©shady rhymes</p>
</footer>
