<!-- header -->
<shad-header></shad-header>
<main>
  <div class="container">
    <!-- list of cards -->
    <div class="choice-container">
      <shad-choice-card
        *ngFor="let choice of choices"
        [choice]="choice"
      ></shad-choice-card>
    </div>

    <!-- Visualize your idea -->
    <section class="section__two">
      <div class="img-box">
        <img src="../assets/sitting-room.png" alt="sitting room" />
      </div>
      <div class="text-box">
        <div class="text-summary">
          <h2>Visualize your ideas with us</h2>
          <p>
            We are ready to help you build and also realize the room design that
            you dream of, with our experts and also the best category
            recommendations from us
          </p>
        </div>
        <!-- <div class="accordion">
          <p>Accordion component</p>
        </div> -->
      </div>
    </section>

    <!-- feature products -->
    <section class="section__three">
      <h2>Featured Product</h2>
      <div class="fp__grid">
        <shad-product-card
          *ngFor="let image of productImages"
          image="{{ image.imgUrl }}"
        ></shad-product-card>
      </div>
    </section>
  </div>

  <!-- testimonials -->
  <section class="section__four">
    <h2>What they say about our services</h2>
    <div class="container testimonial-container">
      <shad-review-card
        *ngFor="let item of reviewCards"
        [review]="item"
      ></shad-review-card>
    </div>
  </section>

  <!-- Visualize your idea -->
  <section class="container section__five">
    <div class="img-box">
      <img src="../assets/sitting-room-2.svg" alt="sitting room" />
    </div>
    <div class="text-box">
      <div class="text-summary">
        <h2>Make your room feel homey</h2>
        <p>
          We help people not only to make the room at home better, but we help
          people to feel a more homey and comfortable room, you don&apos;t have
          to worry about the result because of these interiors are made by
          people who are professionals in their dields with an elegant and
          lucuriois style and with premium quality materials
        </p>
        <p>Contact us if you are interested in working with us</p>
      </div>
      <div class="search-bar">
        <div class="input-container">
          <input
            placeholder="Insert your email Adderss"
            class="search"
            id="search"
          />
        </div>
      </div>
    </div>
  </section>
</main>
<shad-footer></shad-footer>
