<!-- header -->
<shad-header></shad-header>
<main class="container">
  <!-- list of cards -->
  <div class="choice-container">
    <shad-choice-card
      *ngFor="let choice of choices"
      [choice]="choice"
    ></shad-choice-card>
  </div>

  <!-- Visualize your idea -->
  <section class="section__two">
    <div class="img-box">
      <img src="../assets/sitting-room.png" alt="sitting room" />
    </div>
    <div class="text-box">
      <div class="text-summary">
        <h2>Visualize your ideas with us</h2>
        <p>
          We are ready to help you build and also realize the room design that
          you dream of, with our experts and also the best category
          recommendations from us
        </p>
      </div>
      <div class="accordion">
        <p>Accordion component</p>
      </div>
    </div>
  </section>

  <!-- feature products -->
  <section class="section__three">
    <h2>Featured Product</h2>
    <div class="fp__grid">
      <article>
        <div class="p-img">
          <img src="../assets/product-1.png" alt="chair" />
        </div>
        <div class="p-body">
          <h3>Product</h3>
          <p class="category">category</p>
          <img src="../assets/star-rating.svg" alt="star rating" />
          <p class="price">$ 16.00</p>
        </div>
      </article>
    </div>
  </section>
</main>
